{{!< default}}

<div id="content" class="wrapper_rosette">

    {{> header }}
    
    <main role="main">
        <a class="back" href="{{@blog.url}}"><i class="fa fa-long-arrow-left"></i><span>Back to the front page</span></a>
        
        <div class="box_rosette">
            {{#post}}
            <article class="{{post_class}}">

                <header class="post-header">
                    <div class="post-meta">
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                        <span>{{author}}</span>
                    </div>
                    <h1 class="post-title">{{title}}</h1>
                    {{#if image}}<img class="post-image" src="{{image}}" alt="{{title}}" />{{/if}}
                </header>
                
                <section class="post-content">
                    {{content}}
                </section>
                
                <footer class="post-footer">
                    {{#if tags}}
                    <ul class="post-tags">
                        {{#foreach tags}}
                            <li><a href="{{url}}" title="{{name}}" class="tag-{{id}}">{{name}}</a></li>
                        {{/foreach}}
                    </ul>
                    {{/if}}
                    <hr>
                    {{#author}}
                        {{#if image}}
                        <figure class="author-image">
                            <a class="author-thumb" href="{{url}}" style="background-image: url({{image}})"><span class="hidden_rosette">{{name}}'s Picture</span></a>
                        </figure>
                        {{/if}}
                        <section class="author">
                            <span>Posted by</span>
                            <h4><a href="{{url}}">{{name}}</a></h4>
                        </section>
                    {{/author}}
                    <hr>
                    <section class="share">
                        <a class="fa fa-twitter twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                                <span>Tweet</span>
                            </a>
                        <a class="fa fa-facebook facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                                <span>Share</span>
                            </a>
                        <a class="fa fa-google-plus google" href="https://plus.google.com/share?url={{url absolute="true"}}"
                               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                                <span>Share</span>
                            </a>
                    </section>
                </footer>
            </article>
            {{/post}}
            <div id="disqus_thread">

                <script type="text/javascript">

                    {{> custom/disqus this}}
                    
                    var disqus_identifier = '{{post.id}}';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

            </div>	
        </div>
        
    </main>
</div>            